* {
   margin: 0;
   padding: 0;
}

.Compositions{
   margin-top: 150px;
}

.compContainer {
   display: grid;
   grid-template-columns: 1fr 60% 1fr; 
}


.headline {
   text-align: center;
   font-size: 2em;
   font-weight: 700;
   margin-top: 50px;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 1em;
   padding:0 1em 0 1em
}

.compo {
   margin-top: 50px;
}

.compo img {
   width: 100%;
   max-width: 100%;
   
}

.titleDescript{
   max-width: 100%;
   margin-top: 15px;
}

.price {
   display:grid;
   grid-template-columns: 1fr 1.5fr;
   margin-top: 15px;
}

.price span{
   text-decoration: line-through;
}

/* .sale {
   grid-column-end: end;
} */

.button {
   margin-top: 75px;
   text-align: center;
}

.button button {
   font-size: 1rem;
   padding: .25rem 1rem;
   background-color: grey;
   color: white;
   border:0;
   margin-bottom: 20px;
}