.Login{
   background-color: black;
   height: 100vh;
   padding-top: 150px;
   
}

/* .container{
   display: grid;
   grid-template-columns: 1fr 1.5fr 1fr;
} */

.loginBox {
   width: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   height: 500px;
   margin-top: -250px;
   margin-left: -200px;
   display: block;
   background-color: white;
   border-radius: 10px; 
   /* border: 2px solid black; */
   box-shadow: 10px 17px 30px -2px #545454;
}

.loginBox h2 {
   margin-top: 30px;
   text-align: center;
}

.formGrid {
   /* width: 100%; */
   font-weight: bold;
   margin-top: 50px;
}

.info {
   /* margin: auto; */
   text-align: center;
   margin-bottom: 30px;
}

.formGrid label{
   display: block;
   margin-bottom: 20px;
}

.formGrid input{
   border: 1px solid gray;
   border-radius: 4px;
   box-sizing: border-box;
}

.labelTwo {
   margin-top: 50px;
}

.formGrid button {
   display: block;
   margin: auto;
   padding: 8px 10px;
   border-radius: 3px;
   border: none;
}

.register {
   margin-top: 50px;
   text-align: center;
}

@media only screen and (max-width: 399px) {
   .loginBox {
   width: 200px;
   position: absolute;
   top: 50%;
   left: 50%;
   height: 500px;
   margin-top: -250px;
   margin-left: -100px;
   display: block;
   background-color: white;
   }
}