.MyOrder {
  margin-top: 150px;
}

.displayBox {
  width: 700px;
  margin: auto;
  min-height: 400px;

  /* outline: 2px solid green; */
}

.checklist {
  text-align: center;
  border-bottom: 2px solid rgba(207, 204, 205);
  padding-bottom: 20px;
}

.checklist img {
  margin-bottom: 10px;
}

.order {
  font-weight: 600;
  margin-bottom: 5px;
}

.checklist p span {
  color: rgba(207, 204, 205);
}

.purchase {
  background-color: rgb(237, 232, 234);
  padding-top: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.purchaseLine {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
}

.headlines {
  justify-self: center;
}
.headlinesTwo {
  justify-self: center;
}
.product {
  justify-self: center;
}

.product img {
  width: 100px;
  justify-self: center;
}

.download,
.date,
.order {
  place-self: center;
}

@media (max-width: 900px) {
  .displayBox {
    width: 600px;
  }
}

@media (max-width: 625px) {
  .displayBox {
    width: 550px;
  }
}

@media (max-width: 550px) {
  .displayBox {
    width: 300px;
  }

  .purchaseLine {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 20px;
  }

  .headlinesTwo {
    display: none;
  }

  .date {
    display: none;
  }

  .order {
    display: none;
  }
}

@media (max-width: 300px) {
  .displayBox {
    width: 200px;
  }
}
